$global-font-size: 100% !default;

@function strip-unit($num) {
  @if unit($num) == '' {
    @return $num;
  } @else {
    @return $num / (1#{unit($num)});
  }
}

@function rem-calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  @if $base == null {
    $base: $global-font-size;
  }

  @if unit($base) == '%' {
    $base: calc($base / 100%) * 16px;
  }

  @if unit($base) == 'rem' {
    $base: strip-unit($base) * 16px;
  }

  @if $count == 1 {
    @return to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, to-rem(nth($values, $i), $base));
  }

  @return $rem-values;
}

@function to-rem($value, $base: null) {
  @if type-of($value) != 'number' {
    @warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
    @return $value;
  }

  @if unit($value) == 'em' {
    $value: strip-unit($value) * 1rem;
  }

  @if unit($value) != 'rem' {
    $value: calc(#{calc(strip-unit($value) / strip-unit($base))} * 1rem);
  }

  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}
