$gray-500: #151718 !default;
$gray-400: #535557 !default;
$gray-300: #a6a6a6 !default;
$gray-100: #f2f2f2 !default;

$scroll-bar: #414141 !default;
$scroll-bar-bg: #d3d3d3 !default;

$white: #fff !default;

$accent-color-primary: #b10007 !default;

$body-font-family: 'Akkurat', sans-serif !default;
$body-background: $white !default;

$header-text-rendering: optimizeLegibility;

$top-crop: 0 !default;
$bottom-crop: 2 !default;
$crop-font-size: 13 !default;
$crop-line-height: 0.8 !default;
