@import './../../index';

.search-container {
  display: flex;
  flex-direction: column;
}

.search-bar {
  @include text-crop;
  font-size: 1rem;
  background: #ffffff
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IkZyYW1lIj4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTE1LjAyNTggMTMuODQ3NEwxOC41OTQ3IDE3LjQxNjNMMTcuNDE2MiAxOC41OTQ4TDEzLjg0NzMgMTUuMDI1OUMxMi41NjQgMTYuMDUyNSAxMC45MzY2IDE2LjY2NjcgOS4xNjY2MyAxNi42NjY3QzUuMDI2NjMgMTYuNjY2NyAxLjY2NjYzIDEzLjMwNjcgMS42NjY2MyA5LjE2NjY5QzEuNjY2NjMgNS4wMjY2OSA1LjAyNjYzIDEuNjY2NjkgOS4xNjY2MyAxLjY2NjY5QzEzLjMwNjYgMS42NjY2OSAxNi42NjY2IDUuMDI2NjkgMTYuNjY2NiA5LjE2NjY5QzE2LjY2NjYgMTAuOTM2NyAxNi4wNTI1IDEyLjU2NDEgMTUuMDI1OCAxMy44NDc0Wk0xMy4zNTM5IDEzLjIyOUMxNC4zNzI5IDEyLjE3ODkgMTUgMTAuNzQ2NCAxNSA5LjE2NjY5QzE1IDUuOTQzNzcgMTIuMzg5NSAzLjMzMzM1IDkuMTY2NjMgMy4zMzMzNUM1Ljk0MzcxIDMuMzMzMzUgMy4zMzMyOSA1Ljk0Mzc3IDMuMzMzMjkgOS4xNjY2OUMzLjMzMzI5IDEyLjM4OTYgNS45NDM3MSAxNSA5LjE2NjYzIDE1QzEwLjc0NjMgMTUgMTIuMTc4OCAxNC4zNzI5IDEzLjIyOSAxMy4zNTM5TDEzLjM1MzkgMTMuMjI5WiIgZmlsbD0iIzUzNTU1NyIvPgo8L2c+Cjwvc3ZnPgo=)
    no-repeat center left 0.75rem;
  padding: 0.625rem 0.75rem 0.625rem 2.5rem;
  display: flex;
  align-items: center;
  border: 0.0625rem solid $gray-300;
  width: 12rem;
  margin-block-start: 0.75rem;
  flex: 1 0 0;
  max-height: 40px;

  &:active,
  &:focus {
    outline: 0.0625rem solid $accent-color-primary;
    border-radius: 0.125rem;
  }

  @media screen and (min-width: 40rem) {
    width: 14.5625rem;
  }

  &::placeholder {
    color: $gray-300;
    font-size: 1rem;
    line-height: normal;
  }
}

.search-tags.empty {
  margin-block-start: 1.25rem;
}

.search-tags {
  margin-block: 1rem .75rem;
  max-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.search-tag {
  display: flex;
  border-radius: 3rem;
  background-color: $gray-100;
  color: $gray-400;
  font-size: 1rem;
  line-height: 1.25rem;

  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;

  & button {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  & span {
    & > .tag {
      font-family: 'Gibson', sans-serif;
      color: $gray-500;
    }
  }
}
