@import './../../styles/variables';

@media screen and (min-width: 40rem) {
  .report-wrapper {
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
    max-width: 100%;
    margin-inline-start: 2.5rem;
    height: 600px;
    font-size: 0.8125rem;

    &::-webkit-scrollbar {
      background-color: $scroll-bar-bg;
      height: 0.125rem;
      width: 100%;
      border-radius: 0;
      padding-inline-end: 40px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scroll-bar;
      width: 40%;
    }

    .report {
      table-layout: fixed;
      margin-inline-end: 2.5rem;
      background: repeating-linear-gradient(
        to bottom,
        $gray-100,
        $gray-100 40px,
        $white 40px,
        $white 80px
      );

      tr {
        display: flex;
        align-items: center;
        padding-block: 10px;
      }

      thead {
        position: sticky;
        top: 0;
        z-index: 2;
        background: $gray-100;
        font-weight: 700;
        text-transform: uppercase;

        th {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          background: $gray-100;

          &:first-child {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 2;
            background: $gray-100;
            width: 40px;
            padding-inline: 12px 8px;
          }

          &:nth-child(2) {
            width: 193px;
            padding-inline-start: 0;
          }

          &:not(:first-child):not(:nth-child(2)) {
            width: 233px;
            padding-inline: 1rem;
          }

          span {
            display: flex;
            gap: 8px;
            translate: 0 1px;

            svg {
              translate: 0 1px;
            }
          }
        }
      }

      tbody {
        tr:nth-child(even) {
          background: $gray-100;
        }

        tr:nth-child(odd) {
          background: $white;
        }

        td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:first-child {
            position: sticky;
            left: 0;
            top: 0;
            z-index: 1;
            background: inherit;
            width: 40px;
            padding-inline: 12px 8px;
          }

          &:nth-child(2) {
            width: 193px;
          }

          &:not(:first-child):not(:nth-child(2)) {
            width: 233px;
            padding-inline: 1rem;
          }
        }
      }
    }
  }
}

.customer-id,
.email:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-underline-offset: 0.125rem;
  cursor: pointer;
}

.email:hover,
.customer-id:hover {
  color: $accent-color-primary;
}
