@import './../../index';

.report-wrapper {
  display: block;
  position: relative;
  width: 100%;
  min-height: rem-calc(600, 16);
  overflow: auto;
  font-weight: 400;
  font-size: rem-calc(13, 16);
  margin-inline: rem-calc(16, 16);
  color: $gray-500;

  @media screen and (min-width: rem-calc(640, 16)) {
    margin-inline: rem-calc(40, 16);
  }

  & .report {
    display: block;
    position: absolute;
    scrollbar-width: thin;

    & thead {
      position: sticky;
      will-change: transform;
      background-color: $gray-100;
      font-weight: 700;
      letter-spacing: rem-calc(0.64, 16);
      z-index: 1;
      text-transform: uppercase;
      top: 0;
      left: 0;

      & .table-header-row {
        display: flex;
        align-items: center;
        width: 100%;

        & .table-header-cell {
          gap: rem-calc(8, 16);
          cursor: pointer;
        }
      }
    }
  }

  & tbody {
    width: 100%;
    display: block;

    & .table-body-row {
      flex-direction: column;
      align-items: baseline;

      @media screen and (min-width: rem-calc(640, 16)) {
        flex-direction: row;
        align-items: center;
      }

      &:nth-child(even) {
        background-color: $gray-100;
      }
    }

    & .table-body-cell:not(.checkbox) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: rem-calc(1, 16) solid #ddd;
    }
  }
}

.table-header-row,
.table-body-row {
  display: flex;
  align-items: center;
  height: rem-calc(40, 16);
}

.checkbox {
  padding: rem-calc(12 8 12 12, 16);
}

.table-header-cell,
.table-body-cell {
  @include text-crop;
  font-size: $crop-font-size;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;

  @media screen and (min-width: rem-calc(640, 16)) {
    padding: rem-calc(12 12 12 12, 16);
  }

  &:not(.checkbox) {
    width: rem-calc(233, 16);
    padding: rem-calc(12 12 12 12, 16);
    display: none;

    @media screen and (min-width: rem-calc(640, 16)) {
      padding: rem-calc(12 12 12 16, 16);
      display: flex;
    }
  }

  &:nth-child(2) {
    width: rem-calc(193, 16);
    padding: rem-calc(12 12 12 12, 16);

    @media screen and (min-width: rem-calc(640, 16)) {
      padding: rem-calc(12 12 12 0, 16);
    }
  }
}

.customer-id,
.email:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-underline-offset: rem-calc(2, 16);
  cursor: pointer;
}

.table-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: auto;

  @media screen and (min-width: rem-calc(640, 16)) {
    flex-direction: row;
    align-items: center;
    height: rem-calc(40, 16);
  }
}

.table-body-cell:not(.checkbox):before {
  content: attr(data-label);
  flex-basis: 50%;
  text-align: left;
  font-weight: bold;

  @media screen and (min-width: rem-calc(640, 16)) {
    content: '';
    flex-basis: 0;
  }
}
