@import 'the-new-css-reset';
@import 'styles/_variables';
@import 'styles/_mixins';

@font-face {
  font-family: 'Gibson';
  src: url('/fonts/Gibson-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/Akkurat-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/fonts/Akkurat-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  color-scheme: light;
  color: $gray-500;
  background: $body-background;

  height: 100dvh;
  max-width: 100%;
  position: relative;

  overscroll-behavior: none;
  // position: absolute;

  font-family: $body-font-family;
  font-synthesis: none;
  text-rendering: $header-text-rendering;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-search-cancel-button {
  display: none;
}

/* Baseline for default links */
a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
  color: var(--accent-color);
}

.header {
  display: block;
  padding-block-start: 1.75rem;
  z-index: 1;
  background: $white;
  margin-inline: 1rem;

  @media screen and (min-width: 40rem) {
    margin-inline: 2.5rem;
    padding-block-start: 3.5rem;
  }
}

h1,
h2 {
  color: $gray-500;
  font-family: 'Gibson', sans-serif;
  font-weight: 600;
}

h1 {
  padding-block-end: 1.75rem;
  line-height: 2.25rem;
  font-size: 2rem;

  @media screen and (min-width: 40rem) {
    padding-block-end: 2.5rem;
    line-height: 2.75rem;
    font-size: 2.5rem;
  }
}

h2 {
  line-height: 1.5rem;
  font-size: 1.25rem;

  @media screen and (min-width: 40rem) {
    line-height: 1.75rem;
    font-size: 1.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background: $white;
  width: calc(100dvw - 2rem);

  @media screen and (min-width: 40rem) {
    width: calc(100dvw - 5rem);
  }
}

input[type='checkbox'] {
  box-sizing: content-box;
  -webket-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url('./assets/checkbox.svg');
  background-size: 20px;
  // position: relative;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  transform-origin: center;
  transform: scale(0);
  transition: 120ms transform linear;
  // border-radius: 1.5px;
  // border: 1px inset solid $gray-100;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
  background-image: url('./assets/check2.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  position: fixed;
  margin-block: 0;
  padding-inline: 0;
  background: $white;
  border-top: 0.0625rem solid $gray-300;
  bottom: 0;

  @media screen and (min-width: 40rem) {
    position: relative;
    margin-block: 0.75rem 4.375rem;
    padding-inline: 2.5rem;
    border-top: none;
  }
}

.pagination-btn {
  display: flex;
  bottom: 0;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;

  &:active,
  &:focus {
    outline: 0.0625rem solid $accent-color-primary;
    border-radius: 0.125rem;
  }
}

.next svg {
  transform: rotateY(180deg);
}
